<div class="container">
    <div class="img-div">
        <div style="background-color: red; width: 780px; height: 550px;">
            <img src="https://line.me/static/e8a07094a01ab8975a48dca8433b965a/af5ac/ffc3e27eae43915c70bb0ebecffd1186.png" alt="" width="860px" height="560px">
        </div>
    <div class="text-div">
        <img src="/assets/img/youtubeAssistant3 (1).png" alt=""
        width="65px"
        height="auto">
        <h1>LINE Doctor</h1>
        <h2 style="font-size: 20px; background-color: red; width: 450px;">Connect with a doctor, right from the LINE app.</h2>
        <p style="width: 400px; background-color: blue;">LINE Doctor is a telemedicine service that lets users book appointments, speak with a doctor over video call, and pay for consultations on the LINE app.
            Receive medical consultations at home when you don't have time to visit a hospital or want to avoid the crowd.</p>
        <button>more detalls</button>
    </div>
    </div>
    <div class="content2">
        <div class="div-text2">
           <h1>Well, look at you.</h1>
           <p>We like that you wanted to learn more before diving in. It's a good sign that you'd fit right in</p>
        </div>
        <div class="div-img2">
        <img src="https://f8.pmo.ee/A7OS_mB64juQpLiNxosQZV9_hQc=/685x0/filters:format(webp)/nginx/o/2018/07/04/7959194t1h8626.jpg" alt=""
        width="600px"
        height="auto">
        <img src="https://ychef.files.bbci.co.uk/1280x720/p0738gbf.jpg" alt=""
        width="600px"
        height="395">
        </div>
    </div>
</div>
